<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/main.css') }}">
        <title>ao3.plus &#8212; An extension of your archiveofourown.org profile</title>
    </head>
    <body>
        <div id="page-wrapper">  
            <img src="\static\images\ao3_logo.png" alt="" class="logo" width="70">
            <h1 style="float: clear;">ao3.plus</h1>
            <h2>ao3.plus is an extension of your archiveofourown.org profile, showing you stats and graphs about your fanfiction experience.</h2>
            <p style="text-align: right;"><a href="/about" target="_blank">Read about ao3.plus!</a></p>
            <div class="main-wrapper">
                <div id="main">
                    {% if failure == True %}
                        <p>Please enter a valid username to continue.</p>
                    {% endif %}
                    <div id="start">
                        <form action = "/dash" method = "POST" id="enteruser">
                            <p style = "text-align: center; color: white; font-size: 24px;">Start here</p>
                            <p style = "text-align: center;"><input type="text" name="username" placeholder="Your Ao3 username" required/></p>
                            <p style = "text-align: center;"><input type = "submit" value = "submit" /></p>
                        </form>
                    </div>
                </div>
                <div class="clear"></div>
            </div><div id="glider">
            </div>
            <span id="preloader"></span>
        </div>
    </body>
</html>